
<!-- 
    <mat-form-field class="form" appearance = "fill">
        <mat-label>Group Name</mat-label>
        <input matInput required #box1>
    </mat-form-field>
    <div></div>
    <mat-form-field class="form2" appearance = "fill">
        <mat-label>Group Description</mat-label>
        <input matInput #box2>
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
    <div></div> -->

    <form>
      <div class="form-group">
        <label>Group Name</label>
        <input  #box1 type="text" class="form-control"  placeholder="group name" required>
        <small  class="form-text text-muted">This field cannot by empty</small>
      </div>
      <div class="form-group">
          <label>Description</label>
          <input  #box2 type="text" class="form-control"  placeholder="group description">
      </div>
    </form>
    
    <button mat-raised-button class="saveButton" color="primary" (click) = "onSave(box1.value,box2.value)"  
    [disabled] = "show===true">Save</button>

