

    <mat-form-field class="form" appearance = "fill">
        <mat-label>Group Name</mat-label>
        <input matInput required #box1>
    </mat-form-field>
    <div></div>
    <mat-form-field class="form2" appearance = "fill">
        <mat-label>Group Description</mat-label>
        <input matInput #box2>
        <mat-hint>Min 5 characters</mat-hint>
    </mat-form-field>
    <div></div>
    
    <button mat-raised-button class="saveButton" color="primary" (click) = "onSave(box1.value,box2.value)"  
    [disabled] = "show===true">Save</button>

    <!-- <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Group Name</label>
          <input type="text" class="form-control" id="exampleInputText1" aria-describedby="" placeholder="Enter group name">
          <small  class="form-text text-muted">This field cannot by empty</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->

