
.form{
    margin-left: 1cm;
    margin-top: 1cm;
}

.form2{
    margin-left: 1cm;
    margin-top: 5px;
}

.saveButton{
    margin-left: 1cm;
    margin-top: 0.3cm;
    size: 1cm;
    background-color: darkorange;
}