.addButton{
    margin-top: 10PX;
    margin-bottom: 20px;
    margin-left: 7%;
    margin-right: 4%;

}

.removeButton{
    margin-top: 10PX;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    margin-right: 4%;
}

.AttachButton{
    margin-top: 10PX;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    margin-right: 4%;
}



